/* Общие стили */
body {
  margin: 0; /* Убираем отступы по умолчанию */
  padding: 0; /* Убираем внутренние отступы по умолчанию */
  font-family: Arial, sans-serif; /* Устанавливаем шрифт */
  background-color: #20603d; /* Устанавливаем цвет фона */
}

/* Верхняя шапка */
.header-container {
  background-color: #209e73; /* Цвет фона */
  padding: 5; /* Внутренний отступ */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
  width: 100%; /* Занимаем всю ширину экрана */
  position: fixed; /* Фиксируем шапку */
  top: 0; /* Располагаем шапку вверху страницы */
  left: 0; /* Располагаем шапку влево */
  z-index: 999; /* Устанавливаем z-index, чтобы шапка находилась поверх других элементов */
  display: flex; /* Используем flexbox для выравнивания по центру */
  align-items: center; /* Выравниваем элементы по центру по вертикали */
}

/* Логотип */
.logo img {
  font-size: 24px; /* Размер шрифта логотипа */
  font-weight: bold; /* Жирное начертание */
  width: 50px; /* Ширина логотипа */
  height: auto; /* Автоматически подстраиваем высоту для сохранения пропорций */
  margin-right: auto; /* Позволяет логотипу занимать максимально возможное пространство в шапке */
}

/* Навигация */
.nav {
  list-style-type: none; /* Убираем маркеры списка */
  padding: 0; /* Убираем внутренние отступы */
  margin: 0; /* Убираем внешние отступы */
  text-align: center; /* Выравниваем содержимое по центру */
  margin: auto; /* Отменяем автоматическое выравнивание слева */
}

.nav li {
  display: inline-flex; /* Размещаем пункты меню в строку */
  margin: 20px; /* Отступ между пунктами меню */
}

.nav li a {
	margin-left: auto;
  color: black; /* Цвет текста ссылок */
  text-decoration: none; /* Убираем подчеркивание у ссылок */
}

/* Форма авторизации */
.login-container {
  background-color: #209e73; /* Цвет фона */
  padding: 40px; /* Внутренний отступ */
  border-radius: 10px; /* Скругление углов */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тень */
  top: 30px; /* Располагаем контейнер относительно верхней границы страницы */
  width: 200px; /* Ширина контейнера */
  max-width: calc(100% - 40px); /* Максимальная ширина контейнера, учитывая отступы */
  margin: 100px auto 0; /* Располагаем контейнер по центру по вертикали и по горизонтали */
}

h2 {
  margin-top: 0; /* Убираем верхний отступ у заголовка формы */
  text-align: center; /* Выравниваем заголовок по центру */
}

.input-group {
  margin-bottom: 15px; /* Отступ между группами ввода */
}

label {
  display: block; /* Отображаем метку как блочный элемент */
  margin-bottom: 5px; /* Отступ снизу */
}

input[type="text"],
input[type="password"] {
  width: 180px; /* Ширина текстовых полей ввода */
  padding: 10px; /* Внутренний отступ */
  border: 1px solid #ccc; /* Граница */
  border-radius: 3px; /* Скругление углов */
}

button {
  width: 100%; /* Ширина кнопки */
  padding: 10px; /* Внутренний отступ */
  background-color: #106649; /* Цвет фона */
  border: none; /* Убираем границы */
  color: #fff; /* Цвет текста */
  border-radius: 3px; /* Скругление углов */
  cursor: pointer; /* Изменяем курсор при наведении */
}

button:hover {
  background-color: #106649; /* Изменяем цвет фона при наведении */
}

.line {
  flex-grow: 1; /* Занимаем все доступное пространство */
  height: 2px; /* Высота линии */
  background-color: #106649; /* Цвет линии */
  border: none; /* Убираем границы */
  margin: 0 10px; /* Внешний отступ слева и справа */
}

.register-text {
  display: flex; /* Используем flexbox */
  align-items: center; /* Выравниваем по центру по вертикали */
  justify-content: center; /* Выравниваем по центру по горизонтали */
  margin-top: 30px; /* Внешний отступ сверху */
  color: #106649; /* Цвет текста */
}

/* Стили для кнопки и ссылки */
.auth-button,
.auth-link {
  width: 180px; /* Ширина элемента */
  padding: 10px; /* Внутренний отступ */
  background-color: #106649; /* Цвет фона */
  border: none; /* Убираем границы */
  color: #fff; /* Цвет текста */
  border-radius: 3px; /* Скругление углов */
  cursor: pointer; /* Изменяем курсор при наведении */
  text-decoration: none; /* Убираем подчеркивание у ссылок */
  display: inline-block; /* Ссылка ведет себя как блочный элемент */
  text-align: center; /* Выравниваем текст по центру */
  font-size: 14px; 
}

.auth-button:hover,
.auth-link:hover {
  background-color: #106649; /* Изменяем цвет фона при наведении */
}



/* Изменяем цвет фона при наведении *//* Изменяем цвет фона при наведении *//* Изменяем цвет фона при наведении */
/* Изменяем цвет фона при наведении *//* Изменяем цвет фона при наведении *//* Изменяем цвет фона при наведении */

/* Стили для контейнера */
.counter__result {
  /* Добавляем отступы и центрируем содержимое */
  padding: 20px;
  text-align: center;
}

/* Стили для заголовка */
.counter__result .heading {
  /* Добавляем стили для заголовка */
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px; /* Отступ снизу */
}

/* Стили для списка результатов */
.counter__result-list {
  /* Убираем маркеры у списка и задаем выравнивание элементов по центру */
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: 300px; /* Максимальная ширина списка */
}

/* Стили для элементов списка */
.counter__result-item {
  /* Добавляем отступ снизу между элементами списка */
  margin-bottom: 20px;
}

/* Стили для заголовка элемента списка */
.counter__result-item h3 {
  /* Добавляем стили для заголовка элемента */
  font-size: 20px;
  margin-bottom: 10px; /* Отступ снизу */
}

/* Стили для текста под заголовком элемента списка */
.counter__result-item p {
  /* Добавляем стили для текста */
  font-size: 16px;
  color: #888; /* Цвет текста серый */
}

section.counter__result.counter__result--hidden {
  display: none;
}
