.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.logo {
  width: 50px;
  height: 50px;
}

.logo img {
  width: 100%;
  height: 100%;
}

.nav {
  flex-grow: 1;
  text-align: left;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav li {
  display: inline-block;
  margin-left: 10px;
}

.nav li a {
  text-decoration: none;
  color: black;
}



.header-text {
  color: white;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .header-text {
    left: 10px;
    font-size: 16px;
  }
}
.user-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5%;
}
.user-info a {
  margin-left: 10px;
  text-decoration: none;
  border: 3px solid #106649;
  background-color: #209e73;
  color: black;
  text-align: center;
  border-radius: 6px;
}

@media screen and (max-width: 768px) {
  .user-info {
    padding-bottom: 10px;
    position: static;
    transform: none;
    text-align: right;
    margin-top: 10px;
    padding-right: 20px;
    right: auto; /* Сброс правого выравнивания для мобильных устройств */
  }
}