body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e0e0e0;
}

.header-container {
  background-color: #87ceeb70;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  height: 60px;
  overflow: hidden;
}


button {
  margin-top: 100px;
  align-items: center;
  width: 200px;
  padding: 10px;
  background-color: #106649;
  border: none;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
}