body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #e0e0e0; /* Светлый фон */
  text-align: center;
  font-size: 20px; /* Увеличение размера шрифта */
}

.header-container {
  background-color: #87ceeb70; /* Светлый голубой цвет верхней шапки */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  height: 60px;
  overflow: hidden;
}

.main {
  padding-top: 60px;
}

.container {
  margin: 100px auto; /* Выравнивание по центру */
  text-align: center;
}

.counter {
  margin: 0% 10%;
  position: relative;
  background-color: #87ceeb63; /* Светлый голубой цвет контейнера счётчика */
  padding: 1% 10%;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.counter__heading {
  margin-top: 1%;
}

.counter__form {
  margin-top: 10px;
}

.heading {
  color: #000; /* Чёрный цвет заголовков */
}

.switcher__item {
  margin-left: 10px;
  display: inline-block;
}

.radio {
  margin-bottom: 20px;
  text-align: center;
}

.radio__wrapper {
  position: relative;
  width: 480px;
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  border-radius: 10px;
  transition: background-color 0.3s;
}

.radio__description {
  margin-left: 20px;
  font-size: 20px;
  color: black;
}

.radio:hover .radio__wrapper {
  background-color: #4ab1b6; /* Светло-голубой цвет фона при наведении */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.radio input[type="radio"]:checked + .radio__wrapper {
  background-color: #4ab1b6; /* Светло-голубой цвет фона при активации */
  color: black;
}

.input input {
  margin: 0 auto;
  width: 180px;
  background-color: #87ceeb70; /* Светло-голубой цвет поля ввода */
  color: black;
  text-align: center;
  border-radius: 6px;
}

::placeholder {
  text-align: center;
}

.form__submit-button,
.form__reset-button,
.button {
  width: 318px;
  padding: 10px;
  background-color: #4682b4; /* Средне-синий цвет кнопок */
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  font-size: 24px;
}

.form__item {
  margin: auto;
  line-height: 25px;
  border: 3px solid #4682b4;
  border-radius: 6px;
  text-align: auto;
}

.button:hover {
  background-color: #4682b4; /* Средне-синий цвет кнопок при наведении */
}

.counter__result--hidden {
  display: none;
}

.counter__result #bmi {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.switcher {
  display: flex;
  align-items: stretch;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  border-radius: 4px;
  list-style: none;
}

.switcher__item {
  flex: 1 1 0;
}

.switcher__item input[type="radio"] {
  display: none;
}

.switcher__item label {
  height: auto;
  display: block;
  background-color: #87ceeb70;
  padding: inherit;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.switcher__item label:hover,
.switcher__item input[type="radio"]:checked + label {
  font-size: x-large;
  background-color: #4ab1b6;
  border: 3px solid #4682b4;
}

.counter__result-list {
  padding-left: 10px;
  display: inherit;
  justify-content: center;
  padding: initial;
  list-style: none;
}

.counter__result-item {
  padding: 10px;
}

.counter__result-item h3 {
  line-height: 25px;
  border: 3px solid #4682b4;
  border-radius: 6px;
  padding: 15px;
  margin: 0% 35px;
}

.form__item input[type="text"] {
  width: 60%;
  padding: 10px;
  border-radius: 6px;
  border: 3px solid #4682b4;
  box-sizing: border-box;
  font-size: 20px;
}

.toast {
  height: 50px;
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 6px;
  background: #87ceeb70;
  padding: 10px;
  box-shadow: 0 6px 20px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 9999;
  border: 3px solid black;
  width: 200px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out;
}

.toast.active {
  opacity: 1;
  pointer-events: auto;
}

.toast .toast-content {
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.toast-content .check {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  min-width: 35px;
  background-color: #4682b4;
  color: #fff;
  font-size: 20px;
  border-radius: 50%;
}

.toast-content .message {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
}

.message .text {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.message .text.text-1 {
  font-weight: 600;
}

.toast .close {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: 0.7;
}

.toast .close:hover {
  opacity: 1;
}

.toast .progress {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 6px;
  width: 100%;
}

.toast .progress:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: #4682b4;
}

.progress.active:before {
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    right: 100%;
  }
}

.goal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.goal-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #4682b4;
  color: white;
  border-radius: 5px;
}

.progress-section {
  margin-top: 20px;
}

.progress-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.progress-bar,
.bmi-progress-bar,
.calories-progress-bar {
  position: relative;
  height: 30px;
  background-color: #f0f0f0;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 10px;
  border: 4px solid #5f9ea0; /* Цвет бордюра */
}

.progress-bar-fill,
.bmi-progress-bar-fill,
.calories-progress-bar-fill {
  height: 100%;
  background-color: #4682b4; /* Средне-синий цвет */
  border-radius: initial;
  width: 0;
  transition: width 0.5s;
}

.bmi-labels,
.calories-labels {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  margin-top: 5px;
}

.bmi-marker,
.calories-marker {
  position: absolute;
  top: -25px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  background-color: #4682b4; /* Средне-синий цвет */
  color: #fff;
  font-size: 20px;
  border: 2px solid #000; /* Чёрный цвет границы */
}

.bmi-marker {
  left: 50%;
  transform: translateX(-50%);
}

.progress-bar:hover .bmi-marker,
.progress-bar:hover .calories-marker {
  display: block;
}

.bmi-marker,
.calories-marker {
  display: none;
}

.progress-labels,
.weight-loss-labels {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.marker,
.weight-loss-marker {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #4682b4; /* Средне-синий цвет маркера */
}

#calories-result {
  font-size: 35px;
  font-weight: bold;
  color: #000; /* Чёрный цвет */
  margin-top: 5%;
}

.weight-progress-bar {
  margin-top: 40px;
}

.graph {
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 25px;
}

.chart-container {
  position: relative;
  height: 300px;
  margin: 20px;
}

.tooltip {
  display: none;
  position: absolute;
  background-color: #f0f0f0;
  border: 1px solid #4682b4; /* Средне-синий цвет границы */
  border-radius: 5px;
  padding: 10px;
  color: #000; /* Чёрный цвет текста */
  text-align: center;
  pointer-events: none;
}

.tooltip.visible {
  display: block;
}

.tooltip .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #f0f0f0;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.bar {
  background-color: #4682b4; /* Средне-синий цвет столбиков */
  margin: 2px;
}

.progress-bar-fill {
  height: 100%;
  background-color: #4682b4; /* Средне-синий цвет заполнения */
}

.progress-bar-container {
  display: flex;
  align-items: center;
}

.bmi-marker,
.calories-marker {
  top: 55%;
}

.macronutrients {
  width: 300px;
  text-align: center;
  /* height: 300px; */
  margin: 0 auto;
}

.macronutrients p {
  text-align: center;
  font-weight: bold;
  color: black;
  font-size: 25px;
  margin: 12px;
}

#info-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  border-radius: 20px;
  background-color: #87ceeb70; /* Светлый голубой цвет модального окна */
  margin: 15% auto;
  padding: 15px;
  border: 3px solid #4682b4; /* Средне-синий цвет границы */
  width: 40%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#info-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #4682b4; /* Средне-синий цвет кнопки */
  color: white;
  border-radius: 5px;
}

.markers {
  list-style-type: none;
  padding-left: 0;
}

.markers li::before {
  content: "\2022"; /* Значок маркера */
  color: #4682b4; /* Средне-синий цвет маркера */
  font-weight: bold; /* Жирный стиль */
  margin-right: 5px; /* Отступ между маркером и текстом */
}

.canvas#macrosChart {
  box-sizing: border-box;
  display: block;
  height: 300px;
  width: 300px;
}
	